$main-color: #10664B;
$secondary-color: #072B1F;
$background-color: #BFD3C1;
$width: 300px;

*{
    box-sizing: border-box;
}
//Button Credit:
//https://getcssscan.com/css-buttons-examples
/* CSS */
.button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: $main-color;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    a {
        color: #fff;
    }
}

.button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.centered {
    width: $width;
    margin: 1rem auto;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

$input-height: calc($width/5);
$padding-value: calc($input-height * .34);

$input-font-focus: calc($input-height * .66);
$input-font: calc($input-height * .56 );

$label-font: $input-font-focus;
$label-font-focus: calc($label-font * .5);
$label-font-valid: calc($padding-value * .8);

label {
    position: absolute;
    bottom: 12px;
    color: rgba(black, .5);
    height: $label-font;
    font: 400 $label-font Roboto;
    cursor: text;
    transition: .25s ease;

}

input {
    //credit:
    //https://codepen.io/kylelavery88/embed/adbzLQ?height=316&theme-id=0&default-tab=result
    display: block;
    width: 100%;
    height: $input-height;
    padding: 0;
    padding-top: $padding-value;
    border: none;
    border-radius: 0; // For iOS
    color: black;
    background: transparent;//$background-color;
    font-size: $input-font;
    transition: .3s ease;

    &:valid {

        ~label {
            top: 0;
            font: 700 $label-font-valid Roboto;
            color: rgba($main-color, .8)

        }
    }

    &:focus {
        outline: none;
        font-size: $input-font-focus;
        padding-top: $label-font-valid;

        ~label {
            top: 0 - $label-font-focus;
            font: 700 $label-font-focus Roboto;
            color: rgba($main-color, .8)
        }


        ~.bar:before {
            transform: translateX(0);
            transform: scaleY(2);
        }
    }

    // Stop Chrome's hideous pale yellow background on auto-fill

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
        -webkit-text-fill-color: white !important;
    }
}

.bar {
    background: rgba($secondary-color, .5);
    content: '';
    width: $width;
    height: 5px;
    overflow-x: hidden;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $main-color;
        transition: all .3s ease;
        transform: translateX(-100%);
    }
}

::selection {
    background: rgba($secondary-color, .3);
}